/* Body - space background */
body{
    background-color: rgb(232, 217, 17);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 40px;
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 50px 50px;
     background-color: rgb(10, 10, 42);
}

/* Page title */
h1{
    font-size: 3rem;
    color: rgb(0, 212, 255);
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* All buttons - style */
button{
    background-color: rgb(98, 98, 201);
    color: rgb(0, 212, 255);
    border: 2px solid rgb(0, 212, 255);
    padding: 12px 20px;
    margin: 8px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

/* Button hover */
button:hover {
    background-color: rgb(0, 212, 255);
    color: rgb(10, 10, 42);
}

/* Story output box */
#story-output {
    background-color: rgb(26, 26, 78);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 212, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    max-width: 600px;
    font-size: 1.3rem;
    line-height: 1.6;
    min-height: 60px;
}

/* Fixed size for all buttons */
#btn-who, #btn-what, #btn-where, #btn-when, #btn-how {
    width: 300px;
    height: 50px;
    display: block;
    margin: 8px auto;
}
